In [3]:
import pandas as pd
print(pd.__version__)

1.5.2

In [6]:
## 데이터 불러오기

In [9]:
data = pd.read_csv("Lemonade2016.csv")
print(type(data))

<class 'pandas.core.frame.DataFrame'>

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         31 non-null     object
 1   Location     32 non-null     object
 2   Lemon        32 non-null     int64
 3   Orange       32 non-null     int64
 4   Temperature  32 non-null     int64
 5   Leaflets     31 non-null     float64
 6   Price        32 non-null     float64
dtypes: float64(2), int64(3), object(2)
memory usage: 1.9+ KB

In [12]:
d = {"a" : 1, "b" : 2}
ser = pd.Series(data = d, index=["a","b"])
ser

a    1
b    2
dtype: int64